<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>梦呓单词</title>
	<link rel="icon" th:href="@{/style/images/title.ioc}" type="image/x-iocn" />
	<link rel="stylesheet" th:href="@{/style/css/main.css}" type="text/css" />
	<link rel="stylesheet" th:href="@{/style/css/nav.css}" type="text/css" />
	<link rel="stylesheet" th:href="@{/static/style/css/font-awesome.min.css}" type="text/css" />
	<script type="text/javascript" th:src="@{/style/js/jquery-2.1.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/style/js/main.js}"></script>
	<script>
        /*<![CDATA[*/
		function love(){
			var element = document.getElementById('love');
			if(element.getAttribute("align")==="nolove"){
                $.ajax({
                    type : "POST",
                    url : "/learnword/addlove",
                    data : {
                    },
                    dataType : "json",
                    success : function(data) {
                        if(data.result==="1"){
                            element.setAttribute("align","love");
                            element.src="/style/images/love.png";
                        }else{
                            alert("收藏失败")
						}
                    }
                });

			}
			else{
                $.ajax({
                    type : "POST",
                    url : "/learnword/deletelove",
                    data : {
                    },
                    dataType : "json",
                    success : function(data) {
                        if(data.result==="1"){
                            element.setAttribute("align","nolove");
                            element.src="/style/images/love-empty.png";
                        }else{
                            alert("删除失败")
                        }
                    }
                });
			}
		}

        function next(){
            var p1 = document.getElementById('p1');
            var p2 = document.getElementById('p2');
            var p3 = document.getElementById('p3');
            var p4 = document.getElementById('p4');
            var element = document.getElementById('love');
            $.ajax({
                type : "GET",
                url : "/learnword/nextlearnword",
                data : {
                },
                dataType : "json",
                success : function(data) {
                    if(data.done==="1"){
                        window.location.href ="/learnword/learndone";
					}
                    element.setAttribute("align","nolove");
                    element.src="/style/images/love-empty.png";
                    p1.innerText=data.word;
                    p2.innerText=data.meaning;
                    p3.innerText=data.en;
                    p4.innerText=data.ch;
                }
            });
        }

        /*]]>*/
	</script>
</head>
<body>
	<div class="nav">
		<div class="nav-main">
			<a class="logo" href="#"><img th:src="@{/style/images/logo.png}"/></a>
			<ul style="width: 45%">
				<li><a href="/learnword/">首页</a></li>
				<li><a href="/learnword/word">背单词</a></li>
				<li><a href="/learnword/review">复习</a></li>
				<li><a href="/learnword/exam">考试</a></li>
				<li><a href="/learnword/love">收藏</a></li>
			</ul>
			<form action="/learnword/search">
				<input type="text" name="search" placeholder="查词" />
				<input class="search" type="image" th:src="@{/style/images/search.png}" />
			</form>
			<div id="select" onmouseover="overDiv()" onmouseout="outDiv()">
				<a class="name" href="#" th:text="${user}?${user.username}:用户名">用户名<img th:src="@{/style/images/navdown.png}"/></a>
				<div id="select2">
					<div class="first">
						<a href="/learnword/guide">设置向导</a>
						<a href="/logout">退出登录</a>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- 导航栏 -->
	<div style="height:110px;width:100%"></div>
	<!-- 填充导航固定布局 -->
	<div th:if="${word}" class="word-main">
		<div class="word-main-head" id="word">
			  <h1 align="center" id="p1" th:text="${word.Word}">ds</h1><!-- 显示单词 -->
			<div class="love" th:if="${search == null}">
				<img align="nolove" id="love" th:src="@{/style/images/love-empty.png}" width="50px" onclick="love()"/>
			</div>
		</div>
		<div class="word-main-explain">
			<span>&nbsp;&nbsp;单词解释</span>
			<div class="explain" id="p2" th:text="${word.meaning}">
				全力以赴, 竭尽全力
			</div>
		</div>
		<div class="word-main-example">
			<span>&nbsp;&nbsp;例句</span>
			<div class="example" >
				<p id="p3" th:text="${lx[0]}"></p>
				<br/>
				<p id="p4" th:text="${lx[1]}"></p>
			</div>
		</div>
		<div style="width:100%;height: 50px"></div>
		<div class="word-main-select" th:if="${search == null}">
			<button  class="button1" onclick="next()">
				<font size="5">下一个</font>
			</button>
		</div>
	</div>
	<div th:if="${word == null}" >
		<h1 th:if="${search == null}" align="center">恭喜，您已完成今日任务</h1>
		<button th:if="${search == null}"  class="button1" onclick="window.location.href ='/learnword/learnmore'">
			<font size="5">继续学习</font>
		</button>
		<button th:if="${search == null}"  class="button2" onclick="window.location.href ='/learnword'">
			<font size="5">返回主页</font>
		</button>
	</div>
</body>
</html>